@use "sass:math";

@import "_reset.scss";
@import "_mixins.scss";
@import "_fonts.scss";
@import "_icons.scss";
@import "_common.scss";

body {
    font-family: 'OpenSans', sans-serif;
	font-size: rem(20);
	font-weight: 400;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	padding: 0 rem(85);
	@media (max-width: rem(1200)) {
		padding: 0 rem(15);
	}
}
// __________________________________________________________________________header
.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	&__logo {
		padding: rem(17) 0 rem(17) rem(20);
	}
}
.social-header {
	display: flex;
	background-color: $backgroundColor;
	padding: rem(20);
	&__item {
		&:not(:last-child) {
			margin-right: 25px;
		}
	}
}
// __________________________________________________________________________main
// __________________________________________________________________________introduction
.page {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}
.introduction {
	background-color: $backgroundColor;
	height: 100vh;
	&__container {
		display: flex;
		max-height: 100vh;
		@media (max-width: rem(767.98)) {
			flex-direction: column;
		}
	}
	&__body {
		flex: 0 0 40.23%;
		align-self: center;
		padding: rem(100) rem(15) rem(90) 0;
		@media (max-width: rem(1200)) {
			flex: 0 0 41.5%;
		}
		@media (max-width: rem(767.98)) {
			align-self: stretch;
			padding: rem(100) 0 rem(30) 0;
		}
	}
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(30);
			@media (max-width: rem(767.98)) {
				margin-bottom: rem(20);
			}
		}
		& .header-block__label {
			&:not(:last-child) {
				margin-bottom: rem(7);
			}
			color: #fff;
		}
		& .header-block__title {
			color: #fff;
			
		}
	}
	&__text {
		color: #fff;
		max-width: rem(376);
		&:not(:last-child) {
			margin-bottom: rem(67);
			@media (max-width: rem(767.98)) {
				margin-bottom: rem(30);
			}
		}
	}
	&__image {
		position: relative;
		flex: 1 1 auto;
		margin-right: rem(-85);
		height: 100vh;
		& img {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: rem(1200)) {
			margin-right: rem(-15);
			// padding-top: 62.5%;
		}
		@media (max-width: rem(767.98)) {
			margin: 0 rem(-15);
			padding-top: 90%;
		}
	}
}
// __________________________________________________________________________about
.about {
	position: relative;
	padding: rem(148) 0;
	@media (max-width: rem(1200)) {
		padding: rem(50) 0 0 0;
		@media (max-width: rem(991.98)) {
			background-color: #b3978a;
		}
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background-color: $titleDark;
		@media (max-width: rem(991.98)) {
			display: none;
		}
	}
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		@media (max-width: rem(991.98)) {
			flex-direction: column;
		}
	}
	&__body {
		flex: 0 1 50%;
		padding: rem(75) rem(160) rem(75) 0;
		align-self: center;
		@media (max-width: rem(991.98)) {
			flex: 0 1 100%;
			padding: 0 rem(30);
			margin-bottom: rem(30);
		}
	}
	&__header {
		color: $backgroundColor;
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
		& .header-block__title {
			color: $backgroundColor;
		}
	}
	&__text {
		color: #fff;
	}
	&__image {
		position: relative;
		overflow: hidden;
		flex: 1 1 auto;
		margin-left: rem(-113);
		// Effect: Drop shadow
		// Radius: 50px
		// Offset: 0px, 10px
		// rgba(16, 12, 70, 0.2)
		// from Figma shadow effect code ----> into SCSS 
		box-shadow: 0 rem(10) rem(50) rgba(16, 12, 70, 0.2);
		@media (max-width: rem(991.98)) {
			margin: 0 rem(-15);
			flex: 1 1 100%;
			padding-top: 50%;
		}
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// __________________________________________________________________________our_services
.services {
	overflow: hidden;
	&__container {
		display: flex;
		@media (max-width: rem(991.98)) {
			flex-direction: column;
		}
	}
	&__body {
		flex: 0 0 54.8%;
		padding: rem(30) rem(30) rem(30) 0;
		align-self: center;
	}
	&__header {
		&:not(:last-child) {
			margin-bottom: rem(85);
			@media (max-width: rem(1520)){
				margin-bottom: rem(40);
			}
		}
		& .header-block__title{
		color: $titleDark;
	}}
	&__items {
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: rem(65);
		@media (max-width: rem(649.98)) {
			grid-template-columns: auto;
			gap: rem(30);
		}
	}
	&__images {
		position: relative;
		padding: rem(165) 0;
		@media (max-width: rem(1520)) {
			position: relative;
			padding: rem(100) 0;
		}
		@media (max-width: rem(991.98)) {
			background-color: $backgroundColor;
			margin: 0 rem(-15);
			padding: rem(40) rem(15);
		}
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: rem(64);
			width: 100vw;
			height: 100vh;
			transform: translate(0, -50%);
			background-color: $backgroundColor;
			@media (max-width: rem(991.98)) {
				display: none;
			}
		}
	}
	&__image {
		max-width: rem(427);
		position: relative;
		z-index: 2;
		@media (max-width: rem(991.98)) {
			margin: 0 auto;
		}
		& img {
			width: 100%;
		}
	}
	&__phone {
		position: absolute;
		left: 69%;
		bottom: -2%;
		width: rem(342);
		z-index: 2;
		& img {
			width: 100%;
		}
		@media (max-width: rem(1520)) {
			left: 40%;
			top: 50%;
			width: 60%;
		}
		@media (max-width: rem(991.98)) {
			left: 60%;
			top: 40%;
			width: 35%;
		}
	}
}
.item-services {
	&__icon {
		margin-bottom: rem(14);
	}
	&__title {
		font-size: rem(22);
		font-weight: 600;
		line-height: 1.45;
		color: $titleDark;
		display: flex;
		align-items: center;
		&::before {
			content: '';
			height: 1px;
			background-color: $titleDark;
			flex: 1 1 auto;
			margin-right: rem(10);
		}
	}
}

// __________________________________________________________________________portfolio

.portfolio {
	padding-top: rem(145);
	@media (max-width: rem(1200)) {
		padding-top: rem(75);
	}
	&__header {
		text-align: center;
		margin-bottom: rem(77);
		@media (max-width: rem(1200)) {
			margin-bottom: rem(30);
		}
	}
}
.gallery {
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(23);
		@media (max-width: rem(991.98)) {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(15);
		}
		@media (max-width: rem(649.98)) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__item {
		position: relative;
		display: block;
		padding-top: 135%; /* 405/300 */
		overflow: hidden;
	}
	& img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		transition: transform 0.3s;
	}
}

// __________________________________________________________________________team

.our-team {
	padding: rem(145) 0;
	@media (max-width: rem(1200)) {
		padding: rem(75) 0;
	}
	&__header {
		text-align: center;
		margin-bottom: rem(77);
		@media (max-width: rem(1200)) {
			margin-bottom: rem(50);
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(23);
		@media (max-width: rem(991.98)) {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(15);
		}
		@media (max-width: rem(767.98)) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: rem(649.98)) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
.item {
	position: relative;
	&__image {
		position: relative;
		display: block;
		padding-top: 135%; /* 405/300 */
		overflow: hidden;
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			transition: transform 0.3s;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(98, 87, 254, 0.7);
		padding: rem(11) rem(18);
		z-index: 2;
	}
	&__info {
		flex: 1 0 auto;
		color: #fff;
	}
	&__name {
		font-size: rem(16);
		font-weight: 600;
		line-height: 2; /* 32/16 */
	}
	&__position {
		font-size: rem(14);
		font-weight: 400;
		line-height: 2.28; /* 32/14 */
	}
}
.social-icon {
	display: flex;
	gap: rem(11);
}

// __________________________________________________________________________contacts

.contacts {
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: rem(991.98)) {
			flex-direction: column;
			align-items: stretch;
		}
	}
	&__body {
		flex: 0 0 41%;
		padding-right: rem(75);
		@media (max-width: rem(1200)) {
			padding-right: rem(30);
		}
		@media (max-width: rem(991.98)) {
			flex: 0 0 auto;
			padding-bottom: rem(20);
		}
	}
	&__header {
		margin-bottom: rem(54);
		@media (max-width: rem(991.98)) {
			margin-bottom: rem(24);
		}
	}
	&__info {
		flex: 1 1 auto;
		position: relative;
		padding: rem(141) 0;
		&::before {
			content: '';
			position: absolute;
			width: 100vw;
			height: 100%;
			left: rem(250);
			top: 0;
			background-color: $backgroundColor;
			@media (max-width: rem(991.98)) {
				display: none;
			}
		}
		@media (max-width: rem(991.98)) {
			background-color: $backgroundColor;
			margin: 0 rem(-15);
			padding: rem(15);
		}
	}
}
.form {
	display: grid;
	gap: rem(18);
	&__line {
		padding: rem(5) rem(20);
		background-color: #f5f5f5;
		& textarea.form__input {
			resize: vertical;
			min-height: rem(150);
		}
	}
	&__label {
		display: block;
		line-height: rem(32);
	}
	&__input {
		width: 100%;
		height: rem(45);
		background-color: transparent;
		font-size: rem(18);
		&:focus {
			// outline: 1px solid #c0bcf3;
			outline: none;
		}
	}
}
.info-contacts {
	display: flex;
	align-items: center;
	gap: rem(45);
	@media (max-width: rem(1200)) {
		gap: rem(20);
	}
	@media (max-width: rem(991.98)) {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	&__map {
		position: relative;
		flex: 0 0 74%;
		height: rem(617);
		@media (max-width: rem(1200)) {
			flex: 0 0 70%;
		}
		@media (max-width: rem(991.98)) {
			flex: 1 1 auto;
			margin: 0 rem(-15);
			max-height: rem(450);
		}
		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		flex: 1 1 auto;
		display: grid;
		gap: rem(40);
		color: #fff;
		position: relative;
		z-index: 2;
		@media (max-width: rem(991.98)) {
			grid-template-columns: repeat(3, 1fr);
			gap: rem(20);
			align-items: start;
		}
		@media (max-width: rem(767.98)) {
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
			row-gap: rem(30);
		}
	}
	&__block {
		display: grid;
		gap: rem(8);
		justify-items: center;
	}
	&__title {
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.6;
		padding-left: rem(40);
	}
	&__item {
		display: inline-block;
		font-size: rem(16);
		line-height: 1.4;
		&:hover {
			text-decoration: underline;
		}
	}
	&__title--phone {
		background: url('../img/icons/contacts/phone.svg') left no-repeat;
	}
	&__title--email {
		background: url('../img/icons/contacts/email.svg') left no-repeat;
	}
	&__title--address {
		background: url('../img/icons/contacts/location.svg') left no-repeat;
	}
	&__text {
		font-size: rem(16);
		line-height: 1.4;
	}
}

// __________________________________________________________________________footer
.footer {
	padding: rem(110) 0 rem(80) 0;
	@media (max-width: rem(1200)) {
		padding: rem(50) 0 rem(30) 0;
	}
	@media (max-width: rem(767.98)) {
		padding: rem(30) 0 rem(15) 0;
	}
	&__body {
		position: relative;
		height: rem(70);
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: rem(767.98)) {
			flex-direction: column-reverse;
			gap: rem(15);
		}
	}
	&__copyright {
		text-align: center;
	}
	&__send-up {
		position: absolute;
		bottom: 0;
		right: 0;
		width: rem(70);
		height: rem(70);
		background-color: $backgroundColor;
		z-index: 2;
		@media (max-width: rem(767.98)) {
			position: static;
		}
		& p {
			width: rem(14);
			height: rem(14);
			border-top: 2px solid #fff;
			border-left: 2px solid #fff;
			transform: rotate(45deg) translateX(rem(-8)) translateY(rem(4));
			margin: 50%;
		}
	}
}
